name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 6 * * 1-5"
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: install zenoh-cpp
        shell: bash
        run: |
          ./scripts/install_from_git.sh ~/local

      - name: make examples
        shell: bash
        run: |
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=~/local
          cmake --build . --target examples

      - name: make stand-alone examples
        shell: bash
        run: |
          ./scripts/build_standalone_examples.sh ~/local

      - name: make tests
        shell: bash
        run: |
          cd build
          cmake --build . --target tests

      - name: run tests
        shell: bash
        run: |
          cd build
          ctest --output-on-failure

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: zenoh-cpp-${{ matrix.os }}
          # Directory containing files to upload
          path: |
            target/release/examples
