name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 6 * * 1-5"
  workflow_dispatch:

jobs:
  check_format:
    name: Check codebase format with clang-format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run clang-format dry-run
        shell: bash
        run: |
          clang-format --version
          find include/ tests/ examples/ -iname "*.hxx" -o -iname "*.cxx" | xargs clang-format -n -Werror

  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        shm: [FALSE, TRUE]
        unstable: [FALSE, TRUE]

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: install zenoh-cpp
        shell: bash
        run: |
          ./scripts/install_from_git.sh ~/local ${{ matrix.unstable }} ${{ matrix.shm }}

      - name: make examples
        shell: bash
        run: |
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=~/local -DZENOHC_BUILD_WITH_SHARED_MEMORY=${{ matrix.shm }} -DZENOHC_BUILD_WITH_UNSTABLE_API=${{ matrix.unstable }}
          cmake --build . --target examples --config Release

      - name: make stand-alone examples
        shell: bash
        run: |
          ./scripts/build_standalone_examples.sh ~/local

      - name: make tests
        shell: bash
        run: |
          cd build
          cmake --build . --target tests --config Release

      - name: run tests
        shell: bash
        run: |
          cd build
          ctest -C Release --output-on-failure

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: zenoh-cpp-${{ matrix.os }}
          # Directory containing files to upload
          path: |
            target/release/examples
